html, body {
    margin: 0px;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
