.container{
    padding: 10% 35%;
}

.setlist_cnt{
    background-color: white;
    width: 400px;
    height: 50px;
    margin-bottom: 10px;
}

.list_cnt{
    background-color: white;
    width: 400px;
    height: 400px;
    overflow: auto;
}

.listItemJ_cnt{
    padding: 10px;
}

body{
    background-color: rgba(233, 177, 73, 0.466);
}